@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.body {
  /* background-image: url(blackholexray.png);
  background-repeat: no-repeat;
  background-size: cover; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

.logoName{
  font-weight: 100;
}

/* .background-clr{
  background-color: #58a590;
  background-image:  linear-gradient(rgba(175, 175, 175, .30), rgba(163, 173, 197, 0.449)), url(pexels-karol-d-841228.jpg);
  background-size: cover;
} */

.header-clr{
  background-color: rgb(231, 231, 231);
}

.text-clr{
  color: black;
}

.img2-height{
  height: 100%;
}

html{
  scroll-behavior: smooth;
}

.email-me{
  margin: auto;
  justify-content: center;
}

.example-wrap {
  display: inline-block;
}

.example {
  float: left;
}

/* img{
    width: 500%;
} */
.illustrations {
  text-align: center;
  font-weight: bold;
  font-size: 15em;
}

/* .x-overflow{
  overflow-x: scroll;
  width: 1550px;
} */

.skills{
  margin: 0;
  padding: 0;
  color: rgb(211, 211, 211);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.center{
  width: 40%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  padding: 20px 30px;
  background: #00000061;
  box-sizing: border-box;
  box-shadow: 0 5px 20px #343434;
  position: relative;
  left: 30%;
  border-radius: 12px;
}

.contact{
  padding: 0;
}

.padding{
  padding: 4em 0em;
}

.Skill-box{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.Skill-box p{
  color: rgb(208, 208, 208);
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight:bold;
  letter-spacing: 1px;
}

.Skill-box p:nth-child(2){
  float: right;
  position: relative;
  top:-25px;
}

.skill{
  background: #0B2D3D;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #FF4C4F;
  border-radius: 2px;
}

.skill-level{
  background:#F93D4F;
  width: 100%;
  height: 10px;
}

.starter {
  font-weight: bolder;
  font-size: 7.5em;
  text-align: center;
  color: white;
}

.about-section{
  font-size: 20px;
}

.seperator {
  text-align: center;
  font-size: 5em;
}

.margin-definer{
  margin-top: 5em;
}

body section {
  opacity: 90%;
}

/* .container{
    box-shadow: 1em 1em 2em rgb(0, 0, 0);
} */

/* .a-hover :hover{
    cursor: pointer;
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* 3D BOX */
/* html, body {
        width: 100%;
        height: 100%;
        background: #FF0074;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        } */

/* CARD ANIMATION */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  padding: 2rem;
  color: hsla(0, 0%, 0%, .6);
  background: #e8eaed;
  text-align: center;
} */
h1 {
  font-size: 3.2rem;
  padding-top: 2rem;
}

h1+p {
  font-size: 1.8rem;
  padding: 2rem 0 3rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap {
  margin: 2rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(100rem);
  transform: perspective(100rem);
  /* cursor: pointer; */
}

.container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  width: 30rem;
  height: 36rem;
  border: 1px solid #e8eaed;
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  -webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url(devPiv.jpeg);
  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
  box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  transition: -webkit-transform .6s 1s;
  transition: transform .6s 1s;
  transition: transform .6s 1s, -webkit-transform .6s 1s;
}

.container::before,
.container::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  position: absolute;
  z-index: 2;
  opacity: .3;
  transition: .3s;
}

.container::before {
  top: 2rem;
  right: 2rem;
  border-bottom-width: 0;
  border-left-width: 0;
}

.container::after {
  bottom: 2rem;
  left: 2rem;
  border-top-width: 0;
  border-right-width: 0;
}

.container--active {
  transition: none;
}

.image2 {
  -webkit-filter: hue-rotate(80deg) saturate(140%);
  filter: hue-rotate(80deg) saturate(140%);
}

.container p {
  color: hsla(0, 0%, 100%, .6);
  font-size: 2.2rem;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

/* POPUP ANIMATION */
.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-2 {
  animation-delay: 0.3s;
}

  /* MAKE TEXT APPEAR SLOWLY */

.fadeInUp {
  animation-delay: 5s;
  animation: fadeInUp 0.5s ease backwards;
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

/* TEXT HOVER EFFECT */

.text-hover-effect {
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 77%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 124px;
  letter-spacing: 8px;
  /* cursor: pointer; */
}

.text-hover-effect::before {
  content: "ISMAIL";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.text-hover-effect::after {
  content: "ISMAIL";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

.text-hover-effect:hover:after {
  top: -10px;
  left: -10px;
} 

